opencv_python==4.10.0.84
numpy==2.0.2

torch==2.5.0+cu124; sys_platform != 'darwin'
torchvision==0.20.0+cu124; sys_platform != 'darwin'
torch==2.5.0; sys_platform == 'darwin'
torchvision==0.20.0; sys_platform == 'darwin'

matplotlib
tensorboardX==2.6
scikit-image==0.22.0